<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 목록</title>
</head>
<body>
<h3>게시글 목록</h3>
<p>
	<a th:href="@{/siteuser/}">첫 페이지</a>|
	<a th:href="@{/siteuser/bbs/write}">글 작성</a>
</p>
<table style="width:100%" border="1">
<tr><th>번호</th><th>제목</th><th>작성자</th></tr>
<tr th:each="article : ${articles}">
	<td th:text="${article.num}"></td>
	<td><a th:href="@{/siteuser/bbs/read?num={id}(id=${article.num})}">
	[[${article.title}]]</a></td>
	<td th:text="${article.author}"></td>
</tr>
<tr>
<td colspan="3">
<th:block th:each="p:${#numbers.sequence(0, articles.totalPages -1)}">
	<a th:href="@{/siteuser/bbs?pno={p}(p=${p})}">[[${p}]]</a>
</td>
</tr>
</table>
</body>
</html>