<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<main layout:fragment="content">
    <div class="form-container">
        <h2>로그인</h2>
        <div th:if="${param.error}" class="error-message">
            아이디 또는 비밀번호가 올바르지 않습니다.
        </div>
        
        <form th:action="@{/login}" method="post" class="form-box">
            <div class="form-group">
                <label for="username">로그인 ID</label>
                <input type="text" id="username" name="username" autocomplete="username" required>

            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" autocomplete="current-password" required>
            </div>
            <button type="submit" class="button-primary">로그인</button>
        </form>
        
        <div class="extra-links" style="text-align: center; margin-top: 1rem;">
            <span>아직 회원이 아니신가요? </span>
            <a th:href="@{/members/signup}" style="color: #facc15; text-decoration: none;">회원가입</a>
        </div>
        
    </div>
</main>
</html>